{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="page_title">{% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/global-style.css' %}">
    {% block estilos %}{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body id="{% block body_id %}default-page{% endblock %}" data-page="{% block page_name %}default{% endblock %}">
    <!-- Identificador de Página -->


    <aside id="sidebar">
        <div id="sidebar-menu">
            <h3>Mudar a Senha</h3>
            <a id="exit" href="{% url 'login' %}">
                <h3>Sair</h3>
            </a>
        </div>
        <div id="user-menu-sidebar">
            <div id="user_menu">
                <img id="img_perfil" src="{% static 'img/img_perfil.jpg' %}" alt="" title="Imagem do Perfil">
                <h1 id="gestor_name">Thiago</h1>
                <i id="user_icon" class="fa-solid fa-caret-down" style="color: #a1a1aa;"></i>
            </div>
            <hr>
            <div id="sidebar-expansive">
                <a href="{% url 'tela_dashboard' %}" class="element-icon"><i class="fa-solid fa-house icon"
                        title="Início"></i>
                    <h3 id="text-init">Início</h3>
                </a>

                <a class="element-icon" id="id-veiculos"><i class="fa-solid fa-car icon" title="Veículos"></i>
                    <h3 class="text-menu-lateral" id="text-veicles">Veículos</h3>

                    <i id="icon_veiculos" class="fa-solid fa-caret-down"
                        style="color: rgb(255, 255, 255); display: block; transform: rotate(0deg);"></i>

                </a>
                <ul id="submenu-veiculos" class="submenu" style="display: none;">
                    <li><a id="submenu-cadastro-veiculos" href="{% url 'cadastrar_veiculo' %}">Cadastro de Veículos</a>
                    </li>
                    <li><a id="submenu-lista-veiculos" href="{% url 'listagem_veiculos' %}">Lista de Veículos</a></li>
                </ul>

                <a class="element-icon" id="id-usuarios"><i class="fa-solid fa-users icon" title="Usuários"></i>
                    <h3 class="text-menu-lateral" id="text-users">Usuários</h3>
                    <i id="icon_usuarios" class="fa-solid fa-caret-down"
                        style="color: rgb(255, 255, 255); display: block; transform: rotate(0deg);"></i>

                </a>
                <ul id="submenu-usuarios" class="submenu" style="display: none;">
                    <li><a id="submenu-cadastro-usuarios" href="{% url 'cadastrar_usuario' %}">Criar usuário</a>
                    </li>
                    <li><a id="submenu-lista-usuarios" href="{% url 'listagem_usuarios' %}">Listar usuários</a></li>
                </ul>

                <a class="element-icon" id="id-reservas"><i class="fa-solid fa-tag icon" title="Reservas"></i>
                    <h3 class="text-menu-lateral" id="text-reservations">Reservas</h3>
                    <i id="icon_reservas" class="fa-solid fa-caret-down"
                        style="color: rgb(255, 255, 255); display: block; transform: rotate(0deg);"></i>

                </a>
                <ul id="submenu-reservas" class="submenu" style="display: none;">
                    <li><a id="submenu-criacao-reservas" href="{% url 'criar_reserva' %}">Criação de Reserva</a></li>
                    <li><a id="submenu-lista-reservas" href="{% url 'listagem_reservas' %}">Lista de Reservas</a></li>
                </ul>

                <a class="element-icon" id="id-rotas"><i class="fa-solid fa-route icon" title="Rotas"></i>
                    <h3 class="text-menu-lateral" id="text-routes">Rotas</h3>
                    <i id="icon_rotas" class="fa-solid fa-caret-down"
                        style="color: rgb(255, 255, 255); display: block; transform: rotate(0deg);"></i>

                </a>

                <ul id="submenu-rotas" class="submenu" style="display: none;">
                    <li><a id="submenu-criar-rotas" href="{% url 'criacao_rota' %}">Criar Rotas</a></li>
                    <li><a id="submenu-gerenciar-rotas" href="{% url 'listagem_rota' %}">Gerenciar Rotas</a></li>
                </ul>

                <a class="element-icon" id="id-manutencao"><i class="fa-solid fa-screwdriver-wrench icon"
                        title="Manutenção"></i>
                    <h3 class="text-menu-lateral" id="text-maintenance">Manutenção</h3>
                    <i id="icon_manutencao" class="fa-solid fa-caret-down"
                        style="color: rgb(255, 255, 255); display: block; transform: rotate(0deg);"></i>

                </a>
                <ul id="submenu-manutencao" class="submenu" style="display: none;">
                    <li><a id="submenu-agendar-manutencao" href="{% url 'agendar_manutencao' %}">Agendar Manutenção</a>
                    </li>
                    <li><a id="submenu-lista-manutencao" href="{% url 'listagem_manutencao' %}">Lista de manutenções</a>
                    </li>
                </ul>

                <a class="element-icon" id="id-abastecimento"><i class="fa-solid fa-droplet icon"
                        title="Abastecimento"></i>
                    <h3 class="text-menu-lateral" id="text-supply">Abastecimento</h3>
                    <i id="icon_abastecimento" class="fa-solid fa-caret-down"
                        style="color: rgb(255, 255, 255); display: block; transform: rotate(0deg);"></i>

                </a>
                <ul id="submenu-abastecimento" class="submenu" style="display: none;">
                    <li><a id="submenu-registro-abastecimento" href="{% url 'criacao_abastecimento' %}">Registro de
                            Abastecimento</a></li>
                    <li><a id="submenu-lista-abastecimento" href="{% url 'listagem_abastecimento' %}">Lista de
                            Abastecimento</a></li>

                </ul>
            </div>
            <img src="{% static 'img/logo_fleethub.png' %}" alt="" style="width: 100%;">
        </div>
        <div id="div-img_sidebar-expansive"><i id="img_sidebar-expansive" class="fa-solid fa-chevron-left"></i></div>
    </aside>

    <div id="content-and-footer">


        <div id='container-block-content'>
            {% block content %}{% endblock content %}
        </div>


        <footer>
            <div class="footer-left" style="margin-left: 15px;">
                <h1>Fleet Hub</h1>
                <p>Endereço: Avenida Independência, Centro</p>
                <p>Email: fleethub.sac@gmail.com</p>
                <p style="margin-bottom: 0;">CEP: 59900-000 Telefone: (84) 43351-3454</p>
            </div>
            <div class="footer-center">
                <p style="margin-bottom: 0; margin-top: 0;">CopyRight @2024 Fleet Hub </p>
            </div>
            <div class="footer-right">
                <img id="logo_fleethub" src="{% static 'img/logo_fleethub.png' %}" alt="Logo">
            </div>
        </footer>
    </div>



    <!-- Caixa de diálogo personalizada -->
    <div id="custom-confirm">
        <div class="confirm-box">
            <p>Confirma que deseja fazer alterações?</p>
            <div class="confirm-buttons">
                <button class="confirm-yes" onclick="confirmarAcao()">Sim</button>
                <button class="confirm-no" onclick="fecharCustomConfirm()">Cancelar</button>
            </div>
        </div>
    </div>


    <!-- Exibir mensagens -->
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        <div class="message {{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}


</body>

<script src="{% static 'js/script-base.js' %}"></script>
{% block scripts_extras %}{% endblock %}

</html>