body{
    height: 1100px;
}

section{
    padding: 0;
}

#page_title{
    margin: auto;
    text-align: center;
    font-family: Inter;
    font-weight: bold;
    font-size: 24px;
    color: #153448;
    padding-top: 40px;
    padding-bottom: 40px;
}

#conteudo_secundario{
    margin: auto;
}

form{
    margin: auto;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Alteração para 2 colunas */
    height: 100%;
    margin: auto;
    gap: 2rem; /* Adicionando um espaço entre as colunas */
}

.menu_esquerdo{
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    margin-left: 3em;
    width: 100%;
    max-width: 30rem;
    margin: auto;
}

.menu_direito{
    margin: auto;
    width: 100%;
    height: 100%;
}

.menu_direito .logo-img{
    width: 100%;
    height: 100%;
}

.logo-img input{
    width: 80%;
    height: 70%;
}

input{
    width: 100%;
    height: 30px;
    background-color: rgba(239, 241, 249, 0.6);
    border: 0 none;
    color: #153448;
    padding-inline: 0;
    font-size: 16px;
    font-family: Inter;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom-right-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
}

input::placeholder {
    color: #ABAFB1;
    font-size: 16px;
    font-family: Inter;
    font-weight: normal;
}

input:focus {
    outline: none; /* Remove a borda padrão ao focar no campo */
}

.input_container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input_container label{
    background-color: rgba(239, 241, 249, 0.6);
    width: 100%;
    color: #153448;
    font-weight: bold;
    font-size: 14px;
    padding-left: 20px;
    font-family: Inter;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.campo_duplo{
    display: flex;
    flex-direction: row;
    column-gap: 2rem; /* Ajustando a distância entre os campos */
}

select{
    width: 110%;
    height: 100%;
    background-color: rgba(239, 241, 249, 0.6);
    border: 0 none;
    text-align: center;
    padding-left: 20px;
}

select:focus{
    outline: none;    
}

.rodape{
    margin: auto;
    display: flex;
    column-gap: 20px;
    margin-top: 60px;
    justify-content: center;
}

.rodape .btn-submit{
    width: 180px;
    height: 58px;
    background-color: #119D04;
    border: 0 none;
    border-radius: 12px;
    color: #ffff;
    font-size: 20px;
    font-family: Inter;
    font-weight: normal;
}
.btn-submit{
    cursor: pointer;
}

.btn-reset{
    cursor: pointer;
}

.rodape .btn-reset{
    width: 180px;
    height: 58px;
    background-color: #ffff;
    border: 2px solid red;
    border-radius: 12px;
    color: red;
    font-size: 20px;
    font-family: Inter;
    font-weight: normal;
}

/* Responsividade para dispositivos móveis e tablets */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; /* Colocando tudo em uma única coluna em telas menores */
    }

    .menu_esquerdo {
        margin-left: 1em;
    }

    .campo_duplo {
        flex-direction: column; /* Colocando os campos lado a lado em telas pequenas */
        column-gap: 0;
        row-gap: 20px;
    }

    .logo-img input {
        width: 100%;
        height: 50%;
    }

    .rodape {
        flex-direction: column; /* Alinhando os botões na vertical */
        row-gap: 10px;
    }

    input, select {
        font-size: 14px; /* Ajustando o tamanho da fonte para telas menores */
    }

    .menu_esquerdo {
        max-width: 100%; /* Ajustando para tela cheia */
        margin-left: 0;
    }
    body{
        height: 100%;
    }
    #content-and-footer{
        margin-left: 30px;
        margin-right: 30px;
    }
    .input_container{
        height: 67px;
    }
    select{
        width: 103%;
    }
    .rodape{
        padding-bottom: 20px;
    }
    .rodape .btn-reset,.rodape .btn-submit{
        margin: auto;
    }
    .footer-left,.footer-center{
        display: none;
    }
}
