{% extends 'base.html' %}

{% load static %}

{% block page_name %}informacoes_veiculo{% endblock page_name %}

{% block title %}Informações do Veículo{% endblock title %}
{% block estilos %}
<link rel="stylesheet" href="{% static 'css/info_veiculo_style.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
{% endblock estilos %}

{% block content %}

<section id="conteudo-secundario">
    <form>

        
        <h2 id='page_title'>Cadastrar Veículo</h2>
        <form action="">
        <div class="container">
            
            <div class="menu_esquerdo">
                
                <div class="input_container">
                    <label>Modelo</label>
                    <input class="input_detect" type="text" id="modelo" value="Strada" placeholder="Digite o Modelo">
                </div>
                
                <div class="input_container">
                    <label>Marca</label>
                    <input class="input_detect" type="text" id="marca" value="Fiat" placeholder="Digite a Marca">
                </div>
                
                <div class="input_container">
                    <label>Valor da Compra</label>
                    <input class="input_detect" type="text" id="valcompra" value="R$ 136.000,00"  maxlength="14" placeholder="Digite o valor da compra">
                </div>
                
                <div class="campo_duplo">
                    
                    <div class="input_container">
                        <label>Ano</label>
                        <input class="input_detect" type="text" id="ano" value="2024" placeholder="Digite o ano">
                    </div>
                    
                    <div class="input_container">
                        <label>KM</label>
                        <input class="input_detect" type="text" id="km" value="10.000 Km" placeholder="Digite a Quilometragem">
                    </div>
                
                </div>

                
                <div class="campo_duplo">
                    
                    <div class="input_container">
                        <label>Motor</label>
                        <input class="input_detect" type="text" id="motor" value="130 CV" placeholder="Digite o CV do Motor">
                    </div>
                    
                    <div class="input_container">
                        <label>Status</label>
                        <select class="input_detect" id="estados" name="estados">
                            <option value="Novo" selected>Novo</option>
                            <option value="Usado">Usado</option>
                          </select>
                    </div>
                
                </div>

                
                <div class="campo_duplo">
                    
                    <div class="input_container">
                        <label>Placa</label>
                        <input class="input_detect" type="text" id="placa" value="03hy-0785" placeholder="Digite a Placa">
                    </div>
                    
                    <div class="input_container">
                        <label>Chassi</label>
                        <input class="input_detect" type="text" id="km" value="asdhadhahdahshadhs" placeholder="Digite o Chassi">
                    </div>
                
                </div>
            
            </div>
            
            <div class="menu_direito">


                <div class="logo-img">
                    <img src="{% static 'img/fiat-strada-2025-jpg.png' %}" alt="">
                    <input class="input_detect" type="file" name="img" id="img" style="display: none;">
                </div>
        </div>
        </form>
  
</section>

    <div class="rodape" id="rodape">
        <button type="reset" id="btn-reset" onclick="cancelar_alteracoes()" class="btn-reset">Cancelar</button>
        <button type="submit" class="btn-submit">Salvar Edição</button>
    </div>

{% endblock %}

{% block scripts_extras %}
<script src='{% static "js/info-veiculo-script.js" %}'></script>
{% endblock scripts_extras %}
