{% extends 'base.html' %}

{% load static %}

{% block page_name %}Listagem_Veiculos{% endblock page_name %}

{% block title %}Listagem Veiculos{% endblock title %}
{% block estilos %}
<link rel="stylesheet" href="{% static 'css/listagem_veiculos.css' %}">
{% endblock estilos %}

{% block content %}

<section id="content-listagem">
    <h1>Lista de Veiculos</h1>
    
    <div id="filtros">
        
        <div id="estrutura-filtros">
            <div id="descricao-filtros">
                <p>No Pátio</p>
                <div id="bolinha-filtro" style="background-color: #34C759;">
                </div>
            </div>
            <div id="quantidade-filtro">
                <p>235</p>
            </div>
        </div>

        <div id="estrutura-filtros">
            <div id="descricao-filtros">
                <p>Reservados</p>
                <div id="bolinha-filtro" style="background-color: #007AFF;">
                </div>
            </div>
            <div id="quantidade-filtro">
                <p>235</p>
            </div>
        </div>

        <div id="estrutura-filtros">
            <div id="descricao-filtros">
                <p>Em rota</p>
                <div id="bolinha-filtro" style="background-color: #FFCC00;">
                </div>
            </div>
            <div id="quantidade-filtro">
                <p>235</p>
            </div>
        </div>

        <div id="estrutura-filtros">
            <div id="descricao-filtros">
                <p>Atrasados</p>
                <div id="bolinha-filtro" style="background-color: #FF3B30;">
                </div>
            </div>
            <div id="quantidade-filtro">
                <p>235</p>
            </div>
        </div>

        <div id="estrutura-filtros">
            <div id="descricao-filtros">
                <p>Reservados</p>
                <div id="bolinha-filtro" style="background-color: #AF52DE;">
                </div>
            </div>
            <div id="quantidade-filtro">
                <p>235</p>
            </div>
        </div>

    </div>


    <div id="lista-veiculos">
        
        <div id="linha-final">

            <div id="linha-veiculo">

                <div id="img-veiculo">
                    <img id="teste" src="{%static 'img\fiat-strada-2025-jpg.png' %}" alt="">
                    <div id="elementos-veiculo">
                        <div id="elementos-filhos">
                            <p id="titulo">Modelo:</p>
                            <p id="resultado">Strada</p>
                        </div>

                        <div id="elementos-filhos">
                            <p id="titulo">Cor:</p>
                            <p id="resultado">Vermelho</p>
                        </div>

                        <div id="elementos-filhos">
                            <p id="titulo">Placa:</p>
                            <p id="resultado">RQP1-2E50</p>
                        </div>

                        <div id="elementos-filhos">
                            <p id="titulo">Km:</p>
                            <p id="resultado">14.000 Km</p>
                        </div>

                        <div id="elementos-filhos">
                            <p id="titulo">Chassi:</p>
                            <p id="resultado">8EJaLGfcC1HF44180</p>
                        </div>
                    </div>
                </div>
            
                <div id="conteudo-esquerdo">
                    <div id="descricao-filtros-teste">
                        <p>No Pátio</p>
                        <div id="bolinha-filtro" style="background-color: #34C759;">
                        </div>
                    </div>

                    <button id="botao-visualizar">
                        <p>Visualizar Informações</p>
                    </button>

                </div>


        </div>

        <div id="linha"></div>
    </div>


    <div id="linha-final">

        <div id="linha-veiculo">

            <div id="img-veiculo">
                <img id="teste" src="{%static 'img\fiat-strada-2025-jpg.png' %}" alt="">
                <div id="elementos-veiculo">
                    <div id="elementos-filhos">
                        <p id="titulo">Modelo:</p>
                        <p id="resultado">Strada</p>
                    </div>

                    <div id="elementos-filhos">
                        <p id="titulo">Cor:</p>
                        <p id="resultado">Vermelho</p>
                    </div>

                    <div id="elementos-filhos">
                        <p id="titulo">Placa:</p>
                        <p id="resultado">RQP1-2E50</p>
                    </div>

                    <div id="elementos-filhos">
                        <p id="titulo">Km:</p>
                        <p id="resultado">14.000 Km</p>
                    </div>

                    <div id="elementos-filhos">
                        <p id="titulo">Chassi:</p>
                        <p id="resultado">8EJaLGfcC1HF44180</p>
                    </div>
                </div>
            </div>
        
            <div id="conteudo-esquerdo">
                <div id="descricao-filtros-teste">
                    <p>No Pátio</p>
                    <div id="bolinha-filtro" style="background-color: #34C759;">
                    </div>
                </div>

                <button id="botao-visualizar">
                    <p>Visualizar Informações</p>
                </button>

            </div>


    </div>

    <div id="linha"></div>
    </div>


    <div id="linha-final">

        <div id="linha-veiculo">

            <div id="img-veiculo">
                <img id="teste" src="{%static 'img\fiat-strada-2025-jpg.png' %}" alt="">
                <div id="elementos-veiculo">
                    <div id="elementos-filhos">
                        <p id="titulo">Modelo:</p>
                        <p id="resultado">Strada</p>
                    </div>

                    <div id="elementos-filhos">
                        <p id="titulo">Cor:</p>
                        <p id="resultado">Vermelho</p>
                    </div>

                    <div id="elementos-filhos">
                        <p id="titulo">Placa:</p>
                        <p id="resultado">RQP1-2E50</p>
                    </div>

                    <div id="elementos-filhos">
                        <p id="titulo">Km:</p>
                        <p id="resultado">14.000 Km</p>
                    </div>

                    <div id="elementos-filhos">
                        <p id="titulo">Chassi:</p>
                        <p id="resultado">8EJaLGfcC1HF44180</p>
                    </div>
                </div>
            </div>
        
            <div id="conteudo-esquerdo">
                <div id="descricao-filtros-teste">
                    <p>No Pátio</p>
                    <div id="bolinha-filtro" style="background-color: #34C759;">
                    </div>
                </div>

                <button id="botao-visualizar">
                    <p>Visualizar Informações</p>
                </button>

            </div>


    </div>

    <div id="linha"></div>
    </div>



    <div id="linha-final">

        <div id="linha-veiculo">

            <div id="img-veiculo">
                <img id="teste" src="{%static 'img\fiat-strada-2025-jpg.png' %}" alt="">
                <div id="elementos-veiculo">
                    <div id="elementos-filhos">
                        <p id="titulo">Modelo:</p>
                        <p id="resultado">Strada</p>
                    </div>

                    <div id="elementos-filhos">
                        <p id="titulo">Cor:</p>
                        <p id="resultado">Vermelho</p>
                    </div>

                    <div id="elementos-filhos">
                        <p id="titulo">Placa:</p>
                        <p id="resultado">RQP1-2E50</p>
                    </div>

                    <div id="elementos-filhos">
                        <p id="titulo">Km:</p>
                        <p id="resultado">14.000 Km</p>
                    </div>

                    <div id="elementos-filhos">
                        <p id="titulo">Chassi:</p>
                        <p id="resultado">8EJaLGfcC1HF44180</p>
                    </div>
                </div>
            </div>
        
            <div id="conteudo-esquerdo">
                <div id="descricao-filtros-teste">
                    <p>No Pátio</p>
                    <div id="bolinha-filtro" style="background-color: #34C759;">
                    </div>
                </div>

                <button id="botao-visualizar">
                    <p>Visualizar Informações</p>
                </button>

            </div>


    </div>

    <div id="linha"></div>
    </div>



    </div>
    
</section>



{% endblock %}