{% extends "base.html" %}
{% load static %}

{% block page_name %}agendar_manutencao{% endblock page_name %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block title %}Agendar Manutenção{% endblock title %}

{% block estilos %}   
<link rel="stylesheet" href="{% static 'css/agendar_manutencao.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
{% endblock estilos %}

{% block content %}
<section id="conteudo-secundario">
    <h2 id='page_title'>Agendar Manutenção</h2>
    <form action="">
        <div class="container">
            <div class="coluna">

                <h4 id="form-title">Dados do Veiculo</h4>
                <div class="input_container">
                    <label>Veículo</label>
                    <select id="veiculo" name="veiculo">
                        <option disabled selected>Selecione</option>
                    </select>
                </div>
                <div class="input_container">
                    <label>Km Atual</label>
                    <input type="text" id="km_atual" placeholder="Digite o Km atual do veiculo">
                </div>
            </div>

            <div class="coluna">
                <h4 id="form-title">Dados da Manutenção</h4>
                <div class="input_container">
                    <label>Tipo de Manutenção</label>
                    <select id="tipo_manutencao" name="tipo_manutencao">
                        <option disabled selected>Selecione</option>
                    </select>
                </div>
                <div class="input_container">
                    <label>Prioridade de Atendimento</label>
                    <select id="atendimento" name="atendimento">
                        <option disabled selected>Selecione</option>
                    </select>
                </div>
                <div class="input_container">
                    <label>Data Prevista da Entrega</label>
                    <input type="text" id="data_entrega" placeholder="Digite a data prevista da entrega">
                </div>
                <div class="input_container">
                    <label>Valor da Manutenção</label>
                    <input type="text" id="valor_manutencao" placeholder="Digite o valor da manutenção">
                </div>
            </div>
        </div>
        <div class="container-coment">
            <label>Comentários</label>
            <textarea id="comentarios" placeholder="Digite aqui informações sobre o problema que o carro apresenta"></textarea>
        </div>
        
    </form>
</section>

<div class="rodape">
    <button type="reset" class="btn-reset">Cancelar</button>
    <button type="submit" class="btn-submit">Cadastrar</button>
</div>
{% endblock content %}              