{% extends "base.html" %}
{% load static %}

{% block page_name %}agendar_manutencao{% endblock page_name %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block title %}Agendar Manutenção{% endblock title %}

{% block estilos %}   
<link rel="stylesheet" href="{% static 'css/agendar_manutencao.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
{% endblock estilos %}

{% block content %}
<div class="container">
    <div class="form-container">
    <h1 id='page_title'>Agendar Manutenção</h1>
    <form class="user-form">
        
        <div class="form-section">
            <h2>Dados do Veículo</h2>
            <div class="form-group">
                <label for="veiculo">Veículo</label>
                <select id="veiculo" name="veiculo">
                    <option value="">Selecione</option>
                    
                </select>
            </div>
            <div class="form-group">
                <label for="km-atual">Km Atual</label>
                <input type="text" id="km-atual" name="km-atual" placeholder="Digite o Km atual do veículo">
            </div>
        </div>

        
        <div class="form-section">
            <h2>Dados da Manutenção</h2>
            <div class="form-group">
                <label for="tipo-manutencao">Tipo de Manutenção</label>
                <select id="tipo-manutencao" name="tipo-manutencao">
                    <option value="">Selecione</option>
                    
                </select>
            </div>
            <div class="form-group">
                <label for="prioridade">Prioridade do Atendimento</label>
                <select id="prioridade" name="prioridade">
                    <option value="">Selecione</option>
                    
                </select>
            </div>
            <div class="form-group">
                <label for="data-prevista">Data Prevista de Entrega</label>
                <input type="text" id="data-prevista" name="data-prevista" placeholder="Digite a data prevista da entrega">
            </div>
            <div class="form-group">
                <label for="valor-manutencao">Valor da Manutenção</label>
                <input type="text" id="valor-manutencao" name="valor-manutencao" placeholder="Digite o valor da manutenção">
            </div>
        </div>

        
        <div class="form-group" style="width: 100%;">
            <label for="comentarios">Comentários</label>
            <textarea id="comentarios" name="comentarios" placeholder="Digite aqui informações sobre o problema que o carro apresenta"></textarea>
        </div>

            <div class="form-actions">
                <button type="button" class="btn btn-cancel">Cancelar</button>
                <button type="submit" class="btn btn-save">Salvar</button>
            </div>
        </form>
    </div> 
</div>
{% endblock content %}              