{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FleetHub | Cadastrar</title>
    <link rel="stylesheet" href="{% static 'css/cadastrar.css' %}">
</head>
<body>
    <main>

        <div class="logo-img"> <img src="{% static 'img/logo_fleethub.png' %}" alt=""></div>
          
        <form>

        
            <div class="container">
                
                <div class="cabecalho">Cadastrar-se</div>
                
                <div class="menu_esquedo">
                    
                    <p>DADOS DO USUÁRIO:</p>

                    <div class="input_container">
                        <label>Nome Completo</label>
                        <input type="text" id="nome_completo" placeholder="Digite o Nome Completo">
                    </div>
                    
                    <div class="input_container">
                        <label>Email</label>
                        <input type="email" id="email" placeholder="Digite seu email">
                    </div>
                    
                    <div class="input_container">
                        <label>CPF</label>
                        <input type="text" id="cpf" placeholder="Digite seu CPF">
                    </div>
                    
                    <div class="campo_duplo">
                        
                        <div class="campo_menor">
                            <input type="text" id="ddd" placeholder="+ 55">
                        </div>
                        
                        <div class="input_container">
                            <label>Telefone</label>
                            <input type="text" id="telefone" placeholder="Digite seu Telefone">
                        </div>
                    
                    </div>
                    
                    <div class="input_container">
                        <label>Senha</label>
                        <input type="text" id="senha" placeholder="Digite sua senha">
                    </div>
                
                </div>
                
                <div class="menu_direito">

                    <p>ENDEREÇO:</p>

                    <div class="input_container">
                        <label>Rua</label>
                        <input type="text" id="Rua" placeholder="Digite a Rua">
                    </div>
                    
                    <div class="input_container">
                        <label>Bairro</label>
                        <input type="text" id="bairro" placeholder="Digite o Bairro">
                    </div>
                    
                    <div class="input_container">
                        <label>Cidade</label>
                        <input type="text" id="cidade" placeholder="Digite a Cidade">
                    </div>
                    
                    <div class="campo_duplo">
                        
                        <div class="campo_menor">
                            <select id="estados" name="estados">
                                <option disabled selected>RN</option>
                                <option value="AC">AC</option>
                                <option value="AL">AL</option>
                                <option value="AP">AP</option>
                                <option value="AM">AM</option>
                                <option value="BA">BA</option>
                                <option value="CE">CE</option>
                                <option value="DF">DF</option>
                                <option value="ES">ES</option>
                                <option value="GO">GO</option>
                                <option value="MA">MA</option>
                                <option value="MT">MT</option>
                                <option value="MS">MS</option>
                                <option value="MG">MG</option>
                                <option value="PA">PA</option>
                                <option value="PB">PB</option>
                                <option value="PR">PR</option>
                                <option value="PE">PE</option>
                                <option value="PI">PI</option>
                                <option value="RJ">RJ</option>
                                <option value="RN">RN</option>
                                <option value="RS">RS</option>
                                <option value="RO">RO</option>
                                <option value="RR">RR</option>
                                <option value="SC">SC</option>
                                <option value="SP">SP</option>
                                <option value="SE">SE</option>
                                <option value="TO">TO</option>
                              </select>
                        </div>
                        
                        <div class="input_container">
                            <label>CEP</label>
                            <input type="text" id="text" placeholder="Digite o CEP">
                        </div>
                    
                    </div>

                </div>
                
                <div class="rodape">
                    <button type="reset" class="btn-reset">Cancelar</button>
                    <button type="submit" class="btn-submit">Cadastrar</button>
                </div>
            
            </div>
        </form>
    </main>
</body>
</html>