{% extends 'base.html' %}
{% load static %}

{% block page_name %}cadastrar_veiculo{% endblock page_name %}

{% block title %}Cadastrar Veículo{% endblock title %}
{% block estilos %}
<link rel="stylesheet" href="{% static 'css/cadastrar_veiculos.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
{% endblock estilos %}

{% block content %}
<section id="conteudo-secundario">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 id='page_title'>Cadastrar Veículo</h2>
        <div class="container">
            
            <div class="menu_esquerdo">
                
                <div class="input_container">
                    <label>Modelo</label>
                    <input name="modelo" type="text" id="modelo" placeholder="Digite o Modelo" required>
                </div>
                
                <div class="input_container">
                    <label>Marca</label>
                    <input name="marca" type="text" id="marca" placeholder="Digite a Marca" required>
                </div>
                <div class="campo_duplo">
                    <div class="input_container">
                        <label>Valor da Compra</label>
                        <input name="valor" type="text" id="valcompra" maxlength="14" placeholder="Digite o valor da compra" required>
                    </div>

                    <div class="input_container">
                        <label>Cor do Veículo</label>
                        <input name="cor" type="text" id="cor_veiculo" maxlength="14" placeholder="Digite a cor do veículo" required>
                    </div>
                </div>
                
                <div class="campo_duplo">
                    
                    <div class="input_container">
                        <label>Ano</label>
                        <input name="ano" type="text" id="ano" placeholder="Digite o ano" required>
                    </div>
                    
                    <div class="input_container">
                        <label>KM</label>
                        <input name="km" type="text" id="km" placeholder="Digite a Quilometragem" required>
                    </div>
                
                </div>

                
                <div class="campo_duplo">
                    
                    <div class="input_container">
                        <label>Motor</label>
                        <input name="motor" type="text" id="motor" placeholder="Digite o CV do Motor" required>
                    </div>
                    
                    <div class="input_container">
                        <label>Status</label>
                        <select id="estados" name="status">
                            <option selected>Selecione</option>
                          
                          {% for st in status %}
                            <option value="{{st.status}}">{{st.status}}</option>
                          {%endfor %}
                          
                        </select>
                    </div>
                
                </div>

                
                <div class="campo_duplo">
                    
                    <div class="input_container">
                        <label>Placa</label>
                        <input name="placa" type="text" id="placa" placeholder="Digite a Placa" required>
                    </div>
                    
                    <div class="input_container">
                        <label>Chassi</label>
                        <input name="chassi" type="text" id="km" placeholder="Digite o Chassi" required>
                    </div>
                
                </div>
            
            </div>
            
            <div class="menu_direito">


                <div class="logo-img">
                    <input type="file" name="img" id="img">
                </div>
        </div>
    </div>
        <div class="rodape">
            <button type="reset" class="btn-reset">Cancelar</button>
            <button type="submit" class="btn-submit">Cadastrar</button>
        </div>
    </form>
</section>
<script src="{% static 'js/cadastrar-veiculo-script.js' %}"></script>
{% endblock %}