{% extends "base.html" %}
{% load static %}

{% block page_name %}cadastrar_usuario{% endblock page_name %}

{% block title %}Cadastro de Usuário{% endblock title %}
{% block estilos %}
<link rel="stylesheet" href="{% static 'css/cadastro_usuario_app.css' %}">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
{% endblock estilos %}

{% block content %}

    <section id="conteudo-secundario">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 id='page_title'>Cadastro de Usuário</h2>
                <div class="container">

                    <div class="menu_esquerdo">
                        <h3 class="form-title">Dados do Usuário:</h3>

                        <div class="input_container">
                            <label>Nome Completo</label>
                            <input name="nome" class="input_detect" type="text" id="nome" value="{{ data.nome|default:'' }}"
                                placeholder="Digite o Novo Nome" required>
                        </div>

                        <div class="input_container">
                            <label>Email</label>
                            <input name="email" class="input_detect" type="text" id="email" value="{{ data.email|default:'' }}"
                                placeholder="Digite o novo E-mail" required>
                        </div>

                        <div class="input_container">
                            <label>CPF</label>
                            <input name="cpf" class="input_detect" type="text"  id="cpf" value="{{ data.cpf|default:'' }}"
                                maxlength="14" placeholder="Digite o CPF" required>
                        </div>
                        {% if error %}
                            <div id="alert" class="alert alert-danger">
                        {{ error }}
                            </div>
                        {% endif %}

                        <div class="campo_duplo">


                            <select class="input_detect" name="select-estado" id="select-ddd-inter">
                                <option value="">+55</option>
                            </select>

                            <div class="input_container">
                                <label>Telefone</label>
                                <input name="telefone" class="input_detect" type="text"  id="telefone" value="{{ data.telefone|default:'' }}"
                                    placeholder="Numero de Telefone" required>
                            </div>

                        </div>

                        <div class="input_container">
                            <label>Tipo Usuário</label>
                            <select class="input_detect" id="estados" name="tipo_usuario">
                                {% for tipo in tipos %}
                                <option value="{{tipo.nome}}" value="{{ data.tipo|default:'' }}">{{tipo.nome}}</option>
                                {% endfor %}
                            </select>
                        </div>



                        <div class="input_container">
                            <label>Senha</label>
                            <input name="senha" class="input_detect" type="text" id="nome"
                                placeholder="Digite a Nova Senha" required>
                        </div>



                    </div>

                    <div class="menu_direito">
                        
                        <h3 class="form-title">Endereços:</h3>

                        <div class="input_container">
                            <label>Rua</label>
                            <input name="rua" class="input_detect" type="text" id="input-rua" value="{{ data.rua|default:'' }}"
                                placeholder="Digite a Rua" required>
                        </div>


                        <div class="input_container">
                            <label>Bairro</label>
                            <input name="bairro" class="input_detect" type="text" id="input-bairro" value="{{ data.bairro|default:'' }}" placeholder="Digite o Bairro" required>
                        </div>
                        <div class="input_container">
                            <label>Cidade</label>
                            <input name="cidade" class="input_detect" type="text" id="input-cidade" value="{{ data.cidade|default:'' }}" placeholder="Digite a Cidade" required>
                        </div>

                        <div class="estado-cep">

                            <select class="input_detect" name="estado" id="select-estado">
                                {% for estado in estados %}
                                <option value="{{estado.sigla}}" {% if data.estado == estado.sigla %}selected{% endif %}>{{estado.sigla}}</option>
                                {% endfor %}

                            </select>
                            <div class="input_container">
                                <label>CEP</label>
                                <input name="cep" class="input_detect" type="text" id="input-cep" value="{{ data.cep|default:'' }}" placeholder="Digite o CEP" required>
                            </div>
                        </div>
                        
                        <div class="logo-img">
                            <label for="img" class="upload-button">Anexar Imagem</label>
                            <input class="input_detect" type="file" name="img" id="img" hidden accept="image/*">
                            <img id="preview" style="display:none; margin-top: 10px; max-width: 488px; max-height: 400px; width: auto; height: auto;" />
                        </div>

                    </div>
                </div>

                <div class="rodape" id="rodape">
                    <button type="reset" id="btn-reset" onclick="cancelar_alteracoes()" class="btn-reset">Cancelar</button>
                    <button type="submit" class="btn-submit">Cadastrar</button>
                </div>
            </form>

    </section>

    <script src="{% static 'js/cadastrar-usuario-script.js' %}"></script>

{% endblock content %}

