{% extends 'base.html' %}

{% load static %}

{% block page_name %}registro_abastecimento{% endblock page_name %}

{% block title %}Criação de Abastecimento{% endblock title %}
{% block estilos %}
<link rel="stylesheet" href="{% static 'css/criacao_abastecimento.css' %}">
{% endblock estilos %}

{% block content %}

<div id='container-block-content'>

    <section id="conteudo-secundario">
        <form>


            <h2 id='page_title'>Registro de Abastecimento</h2>
            <form action="">
                <div class="container">

                    <div class="menu_esquerdo">

                        <div class="input_container">
                            <label>Veículo</label>
                            <select class="input_detect" name="select-estado" id="select-status-carro">
                                <option >Selecione</option>
                                <option >Strada</option>
                                <option >Hilux</option>
                            </select>
                        </div>

                        <div class="input_container">
                            <label>Km Atual</label>
                            <input class="input_detect input" type="text" id="valor-compra"
                                maxlength="14" placeholder="Digite a Quilometragem do veículo">
                        </div>

                        <div class="input_container">
                            <label>Tipo de Combustível</label>
                            <select class="input_detect" name="select-estado" id="select-status-carro">
                                <option >Selecione</option>
                                <option >Gasolina</option>
                                <option >Díesel</option>
                            </select>
                        </div>



                        <div class="input_container">
                            <label>Motorista</label>
                            <select class="input_detect" name="select-estado" id="select-status-carro">
                                <option >Selecione</option>
                                <option >Lizandro</option>
                                <option >Lázaro Ramos</option>
                            </select>
                        </div>

                            <div class="input_container">
                                <label>Quantidade em Litros</label>
                                <input class="input_detect input" type="text" id="ka-carro"
                                    placeholder="Digite a Quantidade em Litros">
                            </div>



                            <div class="input_container">
                                <label>Valor em R$</label>
                                <input class="input_detect input" type="text" id="motor-carro"
                                    placeholder="Digite o valor em R$">
                            </div>

                    </div>




                    <div class="menu_direito">
                        <div class="nota-img">
                            <img class="input_detect img-nota-fiscal" src="" alt="">

                        </div>

                        

                    </div>
                </div>



            </form>

    </section>

    <div class="rodape" id="rodape">
        <button type="reset" id="btn-reset" onclick="cancelar_alteracoes()" class="btn-reset">Cancelar</button>
        <button type="submit" class="btn-submit">Salvar Edição</button>
    </div>
</div>


{% endblock %}

