{% extends "base.html" %}
{% load static %}

{% block page_name %}criar_reserva{% endblock page_name %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Criação de Reserva{% endblock title %}
    {% block estilos %}<link rel="stylesheet" href="{% static 'css/criacao_reserva.css' %}">{% endblock estilos %}
{% block content %}
<form class="form-reserva">
    <h2 id='page_title'>Criação de Reserva</h2>
    <div class="campo-lado-a-lado">
        <div class="campo">
        <label for="veiculo">Veículo</label>
        <input type="text" id="veiculo" name="veiculo" placeholder="Digite o veículo" required>
        
        <label for="data-reserva">Data de Reserva</label>
        <input type="date" id="data-reserva" name="data-reserva" required>
        
        <label for="data-entrega">Data de Entrega</label>
        <input type="date" id="data-entrega" name="data-entrega" required>
        
        <label for="motorista">Motorista</label>
        <input type="text" id="motorista" name="motorista" placeholder="Digite o nome do motorista" required>
        </div>

        <div class="campo">
        <label for="idade">Idade do Condutor</label>
        <input type="number" id="idade" name="idade" placeholder="Digite a idade do condutor" required>
        
        <label for="valor">Valor</label>
        <input type="text" id="valor" name="valor" placeholder="Digite o valor" required>
        
        <label for="forma-pagamento">Forma de Pagamento</label>
        <select id="forma-pagamento" name="forma-pagamento" required>
            <option value="cartao">Cartão de Crédito</option>
            <option value="boleto">Boleto Bancário</option>
            <option value="pix">Pix</option>
        </select>
        </div>
    </div>
    
    <div class="botoes">
        <button type="button" class="cancelar">Cancelar</button>
        <button type="submit" class="salvar">Salvar</button>
    </div>
</form>
{% endblock content %}
