{% extends "base.html" %}
{% load static %}

{% block page_name %}criacao_rota{% endblock page_name %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block title %}Criação da Rota{% endblock title %}

{% block estilos %}   
<link rel="stylesheet" href="{% static 'css/criacao_rota.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
{% endblock estilos %}

{% block content %}

<section id="conteudo-secundario">
        <h2 id='page_title'>Criação da Rota</h2>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container">
                <div class="coluna">
                    <div class="input_container">
                        <label>Reserva</label>
                        <select id="veiculo" name="veiculo">
                            <option disabled selected>{{reserva.id}}</option>
                        </select>
                    </div>
                    <div class="input_container">
                        <label>Data de Início da Rota</label>
                        <input type="date" id="data_inicio" name="data_inicio" placeholder="Digite a data de início da rota">
                    </div>
                    <div class="input_container">
                        <label>Data de Fim da Rota</label>
                        <input type="date" id="data_fim" name="data_fim" placeholder="Digite a data de fim da rota">
                    </div>
                    
                </div>
    
                <div class="coluna">
                   
                
                    <div class="input_container">
                        <label>Cidade Início da Rota</label>
                        <input type="text" id="cidade_inicio" name="cidade_inicio" placeholder="Digite a cidade de início da rota">
                    </div>
                    <div class="input_container">
                        <label>Cidade Fim da Rota</label>
                        <input type="text" id="cidade_fim" name="cidade_fim" placeholder="Digite a cidade de fim da rota">
                    </div>
                    <div class="input_container">
                        <label>Tipo de Carga</label>
                        <select id="tipo_carga" name="tipo_carga">
                            <option disabled selected>Selecione</option>
                            {% for tipo in tipos%}
                                <option value="{{tipo.descr_carga}}">{{tipo.descr_carga}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="rodape" id="rodape">
                <button type="reset" id="btn-reset" onclick="cancelar_alteracoes()" class="btn-reset">Cancelar</button>
                <button type="submit" class="btn-submit">Cadastrar</button>
              </div>
        </form>
    </section>


{% endblock content %}   
    