{% extends 'base.html' %}

{% load static %}

{% block page_name %}registro_abastecimento{% endblock page_name %}

{% block title %}Criação de Abastecimento{% endblock title %}
{% block estilos %}
<link rel="stylesheet" href="{% static 'css/criacao_abastecimento.css' %}">
{% endblock estilos %}

{% block content %}


    <section id="conteudo-secundario">
            <h2 id='page_title'>Registro de Abastecimento</h2>
            {% if error %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
            {% endif %}
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container">
                    <div class="menu_esquerdo">

                        <div class="input_container">
                            <label>Veículo</label>
                            <select class="input_detect" name="veiculo" id="veiculo">
                                <option selected>Selecione</option>
                                {% for veiculos in veiculo%}
                                    <option value="{{veiculos.id}}" value="{{ data.veiculos|default:'' }}">{{veiculos.modelo}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="input_container">
                            <label>Km Atual</label>
                            <input class="input_detect input" type="text" name="km_atual" id="km_atual" value="{{ data.km_atual|default:'' }}"
                                maxlength="14" placeholder="Digite a Quilometragem do veículo">
                        </div>

                        <div class="input_container">
                            <label>Tipo de Combustível</label>
                            <select class="input_detect" name="tipo_combustivel" id="tipo_combustivel">
                                <option selected>Selecione</option>
                                {% for tipos in tipo_combustivel %}
                                    <option value="{{tipos.id}}" value="{{ data.tipos|default:'' }}" > {{tipos.nome_combustivel}} </option>
                                {% endfor %}
                            </select>
                        </div>



                        <div class="input_container">
                            <label>Motorista</label>
                            <select class="input_detect" name="motorista" id="motorista">
                                <option selected>Selecione</option>
                                {% for motoristas in motorista %}
                                    <option value="{{motoristas.id}}" value="{{ data.motoristas|default:'' }}" >{{motoristas.nome}}</option>
                                {% endfor %}
                            </select>
                        </div>

                            <div class="input_container">
                                <label>Quantidade em Litros</label>
                                <input class="input_detect input" name='quant_litros' type="text" id="quant_litros"
                                    placeholder="Digite a Quantidade em Litros">
                            </div>



                            <div class="input_container">
                                <label>Valor em R$</label>
                                <input class="input_detect input" type="text" name="valor" id="valor"
                                    placeholder="Digite o valor em R$">
                            </div>

                    </div>




                    <div class="menu_direito">
                        <div class="logo-img">
                            <label for="img" class="upload-button">Anexar Imagem</label>
                            <input class="input_detect" type="file" name="img" id="img" hidden accept="image/*">
                            <img id="preview" style="display:none; margin-top: 10px; max-width: 488px; max-height: 400px; width: auto; height: auto;" />
                        </div>

                        

                    </div>
                </div>

                <div class="rodape" id="rodape">
                    <button type="reset" id="btn-reset" onclick="cancelar_alteracoes()" class="btn-reset">Cancelar</button>
                    <button type="submit" class="btn-submit">Salvar Edição</button>
                </div>

            </form>

    </section>




{% endblock %}

