{% extends "base.html" %}
{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'css/dashboard-style.css' %}">
{% endblock estilos %}



{% block content %}
<div id="dashboard">

    <div class="container-reserva-cadastros">
        <div class="usuarios-cadastrados"><!--Container de usuarios-->
            <div class="icon-nome-reservas">
                <div class="icon-reservas">
                    <i class="fa-solid fa-user icon" title="Reservas"
                        style="color: #10B981; width: 13.5px;"></i>
                    <h2 class="h2-name-reservas">
                        Ultimos Usuários Cadastrados
                    </h2>
                </div>

                <a href="{% url 'listagem_usuarios' %}" class="vertodas-a"><div class="ver-todas-reservas">
                    <h2 class="vertodas">Ver todos</h2>
                    <i id="icon_rotas" class="fa-solid fa-caret-down"
                        style="color: #A1A1AA; display: block; transform: rotate(-90deg);"></i>
                </div></a>
            </div>
            <ul class="list-title-users">
                <li class="title-user">Nome</li>
                <li class="title-user">Tipo Usuário</li>
                <li class="title-user">Data de Criação</li>
                <li class="title-user">Usuário Criação</li>
            </ul>
            <div class="list-users">
                <div class="scroll-container">
                    {% for usuario in usuarios  %}
                    <ul id="lista-usuarios-sistema">
                        {% if usuario.first_name %}
                        <li class="user-info">{{usuario.first_name}} {{usuario.last_name}}</li>
                        {% else %}
                        <li class="user-info">{{usuario.nome}}</li>
                        {% endif %}
                        <li class="user-info">{{usuario.tipo_usuario}}</li>
                        <li class="user-info">{{usuario.date_joined}}</li>
                        <li class="user-info">{{usuario.tipo_usuario}}</li>
                    </ul>       
                    {% endfor %}
                </div>
            </div>



        </div>
        

        <div id="pedidos-usuarios"><!--Container pedidos-->
            <div class="icon-nome-reservas">
                <div class="icon-reservas">
                    <i class="fa-solid fa-tag icon" title="Reservas"
                        style="color: #10B981; width: 13.5px;"></i>
                    <h2 class="h2-name-reservas">
                        Últimas Rotas
                    </h2>
                </div>
    
                <a href="{% url 'listagem_rota' %}" class="vertodas-a"><div class="ver-todas-reservas">
                    <h2 class="vertodas">Ver todas</h2>
                    <i id="icon_rotas" class="fa-solid fa-caret-down"
                        style="color: #A1A1AA; display: block; transform: rotate(-90deg);"></i>
                </div></a>
            </div>
            <div id="titulo-coluna">
                <h3 class="nome-coluna">Usuário</h3>
                <h3 class="nome-coluna">Veículo</h3>
                <h3 class="nome-coluna">Inicio da Rota</h3>
                <h3 class="nome-coluna">local de inicio</h3>
                <h3 class="nome-coluna">Local de fim</h3>
                <h3 class="nome-coluna">Valor</h3>
            </div>
    
            <div class="total-pedidos">
                <div class="scroll-container">
                    {% for rota in rotas %}
                    <div class="usuario-info">
                        <ul id="lista-usuarios">
                            <li class="user-info-all">
                                <div class="img-name-number">
                                    <img id="img-usuario" src="{{rota.reserva.motorista.imagem.url}}" alt="">
                                    <div class="name-number">
                                        <h3 class="name-user">{{rota.reserva.motorista.first_name}}</h3>
                                        <h3 class="number-user">{{rota.reserva.motorista.telefone}}</h3>
                                    </div>
                                </div>
                            </li>
                            <li class="user-info-all">{{rota.reserva.veiculo.modelo}}</li>
                            <li class="user-info-all">{{rota.data_inicio}}</li>
                            <li class="user-info-all">{{rota.cidade_inicio}}</li>
                            <li class="user-info-all">{{rota.cidade_fim}}</li>
                            <li class="user-info-all">
                                <h3 id="valor-corrida">{{rota.reserva.valor}}</h3>
                            </li>
                        </ul>
        
                    </div>    
                    {% endfor %}
                </div>
    
            </div>
        </div>
    </div>





    <div class="container-reservas"><!--Container de Reservas-->
        <div class="icon-nome-reservas">
            <div class="icon-reservas">
                <i class="fa-solid fa-tag icon" title="Reservas"
                    style="color: #10B981; width: 13.5px;"></i>
                <h2 class="h2-name-reservas">
                    Reservas
                </h2>
            </div>

            <a href="{% url "listagem_reservas" %}" class="vertodas-a"><div class="ver-todas-reservas">
                <h2 class="vertodas">Ver todas</h2>
                <i id="icon_rotas" class="fa-solid fa-caret-down"
                    style="color: #A1A1AA; display: block; transform: rotate(-90deg);"></i>
            </div></a>
        </div>


        <div id="reservas"> <!--Container de Reservas-->
            <div id="name-reservas">


            </div>
            <div class="menu-reservas">
                <button id="button-hoje" class='button-hoje-selecionado'>
                    Hoje
                </button>
                <button id="button-proximosdias" class='button-proximosdias'>
                    Próximos dias
                </button>
            </div>

            <div id="mensagem-vazia" style="display: none; text-align: center; font-size: 18px; color: #A1A1AA; margin-top: 20px;">
                Nenhuma reserva programada para hoje
            </div>
            
            <div class="scroll-container">
                {% for reserva in reservas %}
                <div class="carro-reservado" data-data_reserva="{{ reserva.data_reserva|date:'Y-m-d' }}">
                    <div class="container-nome-veiculo">
                        <h2 class="numero-reserva">{{ reserva.id }}</h2>
                        <div class="ponto"></div>
                        <h2 class="nome-carro">{{ reserva.veiculo.marca }} - {{ reserva.veiculo.modelo }}</h2>
                    </div>
                    <div class="container-estado-veiculo">
                        <h2 class="numero-placa">{{ reserva.veiculo.placa }}</h2>
                        <div class="estado-carro">
                            <div class="ponto-verde" style="background-color: #{{ reserva.status_reserva.status_cor }};"></div>
                            <h2>{{ reserva.veiculo.status.status }}</h2>
                        </div>
                    </div>
                    <hr class="barra-horizontal">
                    <div class="dados-motorista">
                        <img id="imagem-motorista" src="{{ reserva.motorista.imagem.url }}" alt="Imagem do Motorista">
                        <h2 class="nome-motorista">{{ reserva.motorista.first_name }}</h2>
                    </div>
                    <div class="numero-telefone">
                        <div class="icon-phone">
                            <i class="fa-solid fa-phone" style="color: #A1A1AA;"></i>
                            <h2 class="nome-telefone">Telefone</h2>
                        </div>
                        <h2 class="h2-numero">{{ reserva.motorista.telefone }}</h2>
                    </div>
                    <div class="data-entrega">
                        <div class="icon-data">
                            <i class="fa-solid fa-calendar" style="color: #A1A1AA;"></i>
                            <h2 class="h2-data-entrega">Data de Reserva</h2>
                        </div>
                        <h2 class="h2-data">{{ reserva.data_reserva|date:'Y-m-d' }}</h2>
                    </div>
                </div>
                {% endfor %}
            </div>


        </div>
    </div>
</div>
<script src="{% static "js/dashboard.js" %}"></script>
{% endblock content %}