{% extends "base.html" %}
{% load static %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Editar Manutenção{% endblock title %}</title>
  {% block estilos %}
  <link rel="stylesheet" href="{% static 'css/editar_manutencao.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  {% endblock estilos %}

{% block content %}
<div class="container">
  <h1 id='page_title'>Editar Manutenção</h1>
  <form>
    <div class="row">
      <fieldset>
        <legend>Dados do Veículo</legend>
        <label for="veiculo">Veículo:</label>
        <select id="veiculo">
          <option>Strada</option>
        </select>

        <label for="km">Km Atual:</label>
        <input type="text" id="km" value="15.000 Km">

        <label for="status">Status:</label>
        <select id="status">
          <option>Pendente</option>
        </select>

        <label for="tipoManutencao">Tipo de Manutenção:</label>
        <select id="tipoManutencao">
          <option>Quilometragem/Ano</option>
        </select>
      </fieldset>

      <fieldset>
        <legend>Dados da Manutenção</legend>
        <label for="idManutencao">ID Manutenção:</label>
        <input type="text" id="idManutencao" value="01">

        <label for="prioridade">Prioridade de Atendimento:</label>
        <select id="prioridade">
          <option>Média</option>
        </select>

        <label for="dataEntrega">Data Prevista de Entrega:</label>
        <input type="date" id="dataEntrega" value="2024-02-25">

        <label for="valorManutencao">Valor da Manutenção:</label>
        <input type="text" id="valorManutencao">
      </fieldset>
    </div>

    <div>
      <label for="comentarios">Comentários:</label>
      <textarea id="comentarios" placeholder="Digite aqui informações sobre o problema que o carro apresenta"></textarea>
    </div>

    <fieldset>
      <legend>Outras Informações</legend>
      <div class="info-grid">
        <div>
          <label for="usuarioCadastro">Usuário de Cadastro:</label>
          <input type="text" id="usuarioCadastro" value="Admin" disabled>
        </div>
        <div>
          <label for="dataCadastro">Data de Cadastro:</label>
          <input type="date" id="dataCadastro" value="2024-10-20" disabled>
        </div>
        <div>
          <label for="usuarioAlteracao">Usuário Alteração:</label>
          <input type="text" id="usuarioAlteracao" value="Admin" disabled>
        </div>
        <div>
          <label for="dataAlteracao">Data de Alteração:</label>
          <input type="date" id="dataAlteracao" value="2024-10-27" disabled>
        </div>
      </div>
    </fieldset>

    <div class="buttons">
      <button type="reset" class="cancel">Cancelar</button>
      <button type="submit" class="save">Salvar Edição</button>
    </div>
  </form>
</div>
{% endblock content %}