{% extends "base.html" %}
{% load static %}

{% block page_name %}editar_manutencao{% endblock page_name %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Editar Manutenção{% endblock title %}</title>
  {% block estilos %}
  <link rel="stylesheet" href="{% static 'css/editar_manutencao.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  {% endblock estilos %}

{% block content %}
<section id="conteudo-secundario">
  <h2 id='page_title'>Agendar Manutenção</h2>
  <form action="">
      <div class="container">
          <div class="coluna">

              <h4 id="form-title">Dados do Veiculo</h4>
              <div class="input_container">
                  <label>Veículo</label>
                  <select class="input_detect" id="veiculo" name="veiculo">
                      <option selected>Strada</option>
                  </select>
              </div>
              <div class="input_container">
                  <label>Km Atual</label>
                  <input class="input_detect" value="10.000 Km" type="text" id="km_atual" placeholder="Digite o Km atual do veiculo">
              </div>
          </div>

          <div class="coluna">
              <h4 id="form-title">Dados da Manutenção</h4>
              <div class="input_container">
                  <label>Tipo de Manutenção</label>
                  <select class="input_detect" id="tipo_manutencao" name="tipo_manutencao">
                      <option selected>Periodica</option>
                  </select>
              </div>
              <div class="input_container">
                  <label>Prioridade de Atendimento</label>
                  <select class="input_detect" id="atendimento" name="atendimento">
                      <option selected>Normal</option>
                  </select>
              </div>
              <div class="input_container">
                  <label>Data Prevista da Entrega</label>
                  <input class="input_detect" value="31/12/204" type="text" id="data_entrega" placeholder="Digite a data prevista da entrega">
              </div>
              <div class="input_container">
                  <label>Valor da Manutenção</label>
                  <input class="input_detect" value="R$ 500,00" type="text" id="valor_manutencao" placeholder="Digite o valor da manutenção">
              </div>
          </div>
      </div>
      <div class="container-coment">
          <label>Comentários</label>
          <textarea id="comentarios" placeholder="Digite aqui informações sobre o problema que o carro apresenta">Verificar o óleo do motor, fluido freio, pastilhas de freio e ajustes na caixa de direção.</textarea>
      </div>
      
  </form>
</section>

<div class="rodape" id="rodape">
  <button type="reset" id="btn-reset" onclick="cancelar_alteracoes()" class="btn-reset">Cancelar</button>
  <button type="submit" class="btn-submit">Salvar Edição</button>
</div>
{% endblock content %}