{% extends "base.html" %}
{% load static %}

{% block page_name %}editar_manutencao{% endblock page_name %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Editar Manutenção{% endblock title %}</title>
  {% block estilos %}
  <link rel="stylesheet" href="{% static 'css/editar_manutencao.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  {% endblock estilos %}

{% block content %}
<section id="conteudo-secundario">
  <h2 id='page_title'>Editar Manutenção</h2>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="container">
          <div class="coluna">
              <h4 id="form-title">Dados do Veiculo</h4>
              <div class="input_container">
                  <label>Veículo</label>
                  <select class="input_detect" id="veiculo" name="veiculo">
                      <option selected>{{manutencao.veiculo.modelo}}</option>
                      {% for veiculos in veiculo_list %}
                          <option value="{{veiculos.modelo}}">{{veiculos.modelo}}</option>
                      {% endfor %}
                    </select>
              </div>
              <div class="input_container">
                  <label>Km Atual</label>
                  <input class="input_detect" name="km_atual" value="{{manutencao.km_atual}}" type="text" id="km_atual" placeholder="Digite o Km atual do veiculo">
              </div>
          </div>

          <div class="coluna">
              <h4 id="form-title">Dados da Manutenção</h4>
              <div class="input_container">
                  <label>Tipo de Manutenção</label>
                  <select class="input_detect" id="tipo_manutencao" name="tipo_manutencao">
                      <option selected>{{manutencao.tipo_manutencao.nome_manutencao}}</option>
                      {% for tipos in tipo_manutencao_list %}
                            <option value="{{tipos.nome_manutencao}}">{{tipos.nome_manutencao}}</option>
                      {% endfor %}
                   </select>
              </div>
              <div class="input_container">
                  <label>Prioridade de Atendimento</label>
                  <select class="input_detect" id="atendimento" name="prioridade">
                      <option selected>{{manutencao.prioridade.nome_prioridade}}</option>
                      {% for prioridade in prioridade_list %}
                        <option value="{{prioridade.nome_prioridade}}">{{prioridade.nome_prioridade}}</option>
                      {% endfor %}
                  </select>
              </div>
              <div class="input_container">
                  <label>Data Prevista da Entrega</label>
                  <input class="input_detect" name="data_prevista" type="date" name="data_prevista" value="{{ manutencao.data_prevista|date:'Y-m-d' }}" type="date" id="data_entrega" placeholder="Digite a data prevista da entrega">
              </div>
              <div class="input_container">
                  <label>Valor da Manutenção</label>
                  <input class="input_detect" type="number" name="valor_manutencao" id="valor_manutencao" value="{{manutencao.valor_manutencao}}" placeholder="Digite o valor da manutenção">
              </div>
              <div class="input_container">
                <label>Status</label>
                <select class="input_detect" id="status" name="status">
                    <option selected>{{manutencao.status.nome_status}}</option>
                    {% for status in status_list %}
                      <option value="{{status.nome_status}}">{{status.nome_status}}</option>
                    {% endfor %}
                </select>
            </div>
          </div>
      </div>
      <div class="container-coment">
          <label>Comentários</label>
          <textarea id="comentarios" name="comentario" class="input_detect" placeholder="Digite aqui informações sobre o problema que o carro apresenta">{{manutencao.comentario}}</textarea>
      </div>
      

      <div class="rodape" id="rodape">
        <button type="reset" id="btn-reset" onclick="cancelar_alteracoes()" class="btn-reset">Cancelar</button>
        <button type="submit" class="btn-submit">Salvar Edição</button>
      </div>

  </form>
</section>


{% endblock %}

{% block scripts_extras %}
<script src={% static "js/info-manutencao-script.js" %}></script>
{% endblock  %}