{% extends 'base.html' %}

{% load static %}

{% block page_name %}informacoes_veiculo{% endblock page_name %}

{% block title %}Informações do Veículo{% endblock title %}
{% block estilos %}
<link rel="stylesheet" href="{% static 'css/info_veiculo_style.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

{% endblock estilos %}

{% block content %}

    <section id="conteudo-secundario">
        <h2 id='page_title'>Informações do Veículo</h2>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container">
                <div class="menu_esquerdo">
                    <div class="input_container">
                        <label>Modelo</label>
                        <input name="modelo" class="input_detect input" type="text" id="modelo" value="{{veiculo.modelo}}" placeholder="Digite o nome do modelo do veículo" required>
                    </div>

                    <div class="input_container">
                        <label>Marca</label>
                        <input name="marca" class="input_detect input" type="text" id="marca" value="{{veiculo.marca}}" placeholder="Digite a marca do veículo" required>
                    </div>
                    <div class="campo_duplo">
                        <div class="input_container">
                            <label>Valor da Compra</label>
                            <input name="valor" class="input_detect input" type="text" value="{{veiculo.valor_compra}}" id="valor-carro" maxlength="14" placeholder="Digite o valor da compra" required>
                        </div>
                        <div class="input_container">
                            <label>Cor do Veículo</label>
                            <input name="cor" class="input_detect input" type="text" value="{{veiculo.cor}}" id="cor-carro" maxlength="14" placeholder="Digite a cor do Veículo" required>
                        </div>
                    </div>

                    <div class="campo_duplo">
                        <div class="input_container">
                            <label>Ano</label>
                            <input name="ano" class="input_detect input" type="text" value="{{veiculo.ano}}" id="ano-carro" placeholder="Digite o ano do veículo" required>
                        </div>

                        <div class="input_container">
                            <label>KM</label>
                            <input name="km" class="input_detect input" type="text" value="{{veiculo.km}}" id="km-carro" placeholder="Digite a quilometragem" required>
                        </div>
                    </div>

                    <div class="campo_duplo">
                        <div class="input_container">
                            <label>Motor</label>
                            <input name="motor" class="input_detect input" type="text" value="{{veiculo.motor}}" id="motor-carro" placeholder="Digite a potência do motor" required>
                        </div>
                        <div class="input_container">
                            <label>Status</label>
                            <select class="input_detect" name="status" id="select-status-carro">
                                <option selected>{{veiculo.status}}</option>
                                {% for st in status %}
                                <option value="{{st.status}}">{{st.status}}</option>
                                {%endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="campo_duplo">
                        <div class="input_container">
                            <label>Placa</label>
                            <input name="placa" class="input_detect input" type="text" value="{{veiculo.placa}}" id="placa-carro" placeholder="Digite a placa do veículo" required>
                        </div>

                        <div class="input_container">
                            <label>Chassi</label>
                            <input name="chassi" class="input_detect input" type="text" value="{{veiculo.chassi}}" id="chassi-carro" placeholder="Digite o número do chassi" required>
                        </div>
                    </div>
                </div>

                <div class="menu_direito">
                    <div class="logo-img input_detect">
                        <img class="input_detect" src="{{veiculo.imagem.url}}" alt="" style="width: 100%;">
                        
                    </div>
                    <input type="file" accept=".jpg, .jpeg, .png" name="img" id="img" style="display: none; margin: 0 auto;">
                </div>
            </div>

            <div class="menu-inferior">
                <div class="menu_esquerdo">
                    <h3 class="form-title">Outras Informações</h3>
                    <div class="input_container">
                        <label>Usuário de Cadastro</label>
                        <input class="input" type="text" id="usuario-cadastro" value="{{veiculo.usuario_cadastro}}" disabled>
                    </div>
                    <div class="input_container">
                        <label>Usuário Alteração</label>
                        <input class="input" type="text" id="usuario-alteracao" value="{{veiculo.usuario_alteracao}}" disabled>
                    </div>
                </div>

                <div class="menu_direito-2">
                    <h3 class="form-title"></h3>
                    <div class="input_container">
                        <label>Data de Cadastro</label>
                        <input class="input" type="text" id="data-cadastro" value="{{veiculo.data_cadastro}}" disabled>
                    </div>
                    <div class="input_container">
                        <label>Data de Alteração</label>
                        <input class="input" type="text" id="data-alteracao" value="{{veiculo.data_alteracao}}" disabled>
                    </div>
                </div>
            </div>
            <div class="rodape" id="rodape">
                <button type="reset" id="btn-reset" onclick="cancelar_alteracoes()" class="btn-reset">Cancelar</button>
                <button type="submit" class="btn-submit">Salvar Edição</button>
            </div>
        </form>
    </section>



{% endblock %}

{% block scripts_extras %}
<script src='{% static "js/info-veiculo-script.js" %}'></script>
{% endblock scripts_extras %}
