{% extends 'base.html' %}

{% load static %}

{% block page_name %}informacoes_usuario{% endblock page_name %}

{% block title %}Informações de Usuário{% endblock title %}
{% block estilos %}
<link rel="stylesheet" href="{% static 'css/informacoes_usuarios.css' %}">
{% endblock estilos %}

{% block content %}
<div id='container-block-content'>

    <section id="conteudo-secundario">
            <h2 id='page_title'>Informações de Usuário</h2>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container">

                    <div class="menu_esquerdo">
                        <h3 class="form-title">Dados do Usuário:</h3>

                        <div class="input_container">
                            <label>Nome Completo</label>
                            <input name="nome" class="input_detect" type="text" id="nome" value="{{usuario.nome}}"
                                placeholder="Digite o Novo Nome">
                        </div>

                        <div class="input_container">
                            <label>Email</label>
                            <input name="email" class="input_detect" type="text" id="email"
                                value="{{usuario.email}}" placeholder="Digite o novo E-mail">
                        </div>

                        <div class="input_container">
                            <label>CPF</label>
                            <input name="cpf" class="input_detect" type="text" value="{{usuario.cpf}}" id="cpf"
                                maxlength="14" placeholder="Digite o CPF">
                        </div>

                        <div class="campo_duplo">


                            <select class="input_detect" name="select-estado" id="select-ddd-inter">
                                <option value="RN" selected>+55</option>
                            </select>

                            <div class="input_container">
                                <label>Telefone</label>
                                <input name="telefone" class="input_detect" type="text" value="{{usuario.telefone}}" id="telefone"
                                    placeholder="Numero de Telefone">
                            </div>

                        </div>

                        <div class="input_container">
                            <label>Tipo Usuário</label>
                            <select class="input_detect" id="estados" name="tipo_usuario">
                                <option selected>{{usuario.tipo_usuario}}</option>
                                {% for tipo in tipos %}
                                    <option value="{{tipo.nome}}">{{tipo.nome}}</option>
                                {% endfor %}
                                
                                <option value="Usado">Gestor</option>
                            </select>
                        </div>



                        <div class="input_container">
                            <label>Senha</label>
                            <input name="senha" class="input_detect" type="text" id="nome" value="{{usuario.senha}}"
                                placeholder="Digite a Nova Senha">
                        </div>

                        <div class="input_container">
                            <label>Código do Usuário</label>
                            <input class="input_detect" type="text" id="codigo-usuario" value="{{usuario.id}}">
                        </div>

                        <div class="input_container">
                            <label>Status</label>
                            <select class="input_detect" id="status" name="status">
                                <option selected>{{usuario.status_usuario}}</option>
                                {% for st in status %}
                                    <option value="{{st.status}}">{{st.status}}</option>
                                {% endfor %}
                            </select>
                        </div>


                    </div>




                    <div class="menu_direito">
                        <div class="logo-img">
                            <img src="{{usuario.imagem.url}}" alt="">
                            
                        </div>
                        <input type="file" accept=".jpg, .jpeg, .png" name="img" id="img" style="display: none; margin: 0 auto;">


                        <div class="input_container">
                            <label>Rua</label>
                            <input name="rua" class="input_detect" type="text" id="input-rua"
                                value="{{usuario.rua}}">
                        </div>


                        <div class="input_container">
                            <label>Bairro</label>
                            <input name="bairro" class="input_detect" type="text" id="input-bairro" value="{{usuario.bairro}}">
                        </div>
                        <div class="input_container">
                            <label>Cidade</label>
                            <input name="cidade" class="input_detect" type="text" id="input-cidade" value="{{usuario.cidade}}">
                        </div>

                        <div class="estado-cep">

                            <select class="input_detect" name="select-estado" id="select-estado">
                                <option value="{{usuario.estado}}" selected>{{usuario.estado}}</option>
                                {% for estado in estados %}
                                <option value="{{estado.sigla}}">{{estado.sigla}}</option>
                                {% endfor %}
                            </select>
                            <div class="input_container">
                                <label>CEP</label>
                                <input name="cep" class="input_detect" type="text" id="input-cep" value="{{usuario.cep}}">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="menu-inferior">

                    <div class="menu_esquerdo">
                        <h3 class="form-title">Outras Informações</h3>
                        <div class="input_container">
                            <label>Usuário de Cadastro</label>
                            <input type="text" id="usuario-cadastro" value="Admin" disabled>
                        </div>
                        <div class="input_container">
                            <label>Usuário Alteração</label>
                            <input type="text" id="usuario-alteracao" value="Admin" disabled>
                        </div>

                    </div>


                    <div class="menu_direito-2">
                        <h3 class="form-title"></h3>
                        <div class="input_container">
                            <label>Data de Cadastro</label>
                            <input type="text" id="data-cadastro" value="20/10/2024" disabled>
                        </div>
                        <div class="input_container">
                            <label>Senha</label>
                            <input type="text" id="data-alteracao" value="27/10/2024" disabled>
                        </div>
                    </div>

                </div>

                <div class="rodape" id="rodape">
                    <button type="reset" id="btn-reset" onclick="cancelar_alteracoes()" class="btn-reset">Cancelar</button>
                    <button type="submit" class="btn-submit">Salvar Edição</button>
                </div>

            </form>

    </section>


</div>
{% endblock %}

{% block scripts_extras %}
<script src={% static "js/info-usuario-script.js" %}></script>
{% endblock  %}