{% extends "base.html" %}
{% load static %}

{% block page_name %}informacoes_veiculo{% endblock page_name %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block title %}Informações do veiculo{% endblock title %}

{% block estilos %}   
<link rel="stylesheet" href="{% static 'css/informacoes_veiculo.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
{% endblock estilos %}

{% block content %}

<body>
    <div id="conteudo-secundario">
        <h1 id="page_title">Informações do Veículo</h1>
        <div class="container">
            <div class="coluna">
                <div class="col">
                <div class="imagem-veiculo">
                    <img src="veiculo.jpg" alt="Imagem do veículo">
                </div>
            </div>
                <div class="input_container">
                    <label for="modelo">Modelo</label>
                    <input type="text" id="modelo" placeholder="Digite o modelo" value="Stada" disabled>
                </div>
                <div class="input_container">
                    <label for="marca">Marca</label>
                    <input type="text" id="marca" placeholder="Digite a marca" value="Fiat" disabled>
                </div>
                <div class="input_container">
                    <label for="valor-compra">Valor da Compra</label>
                    <input type="text" id="valor-compra" placeholder="Digite o valor" value="R$ 136.000,00" disabled>
                </div>

                <div class="coluna-detalhes">
                    <div class="input_container">
                        <label for="ano">Ano</label>
                        <input type="text" id="ano" placeholder="Digite o ano" value="2024" disabled>
                    </div>
                    <div class="input_container">
                        <label for="km">KM</label>
                        <input type="text" id="km" placeholder="Digite a quilometragem" value="10.000 Km" disabled>
                    </div>
                    <div class="input_container">
                        <label for="motor">Motor</label>
                        <input type="text" id="motor" placeholder="Digite o motor" value="130 CV" disabled>
                    </div>
                    <div class="input_container">
                        <label for="status">Status</label>
                        <select id="status" disabled>
                            <option selected>No pátio</option>
                        </select>
                    </div>
                    <div class="input_container">
                        <label for="placa">Placa</label>
                        <input type="text" id="placa" placeholder="Digite a placa" value="RQPI-2E50" disabled>
                    </div>
                    <div class="input_container">
                        <label for="chassi">Chassi</label>
                        <input type="text" id="chassi" placeholder="Digite o chassi" value="8EJaLGfeC1HF4480" disabled>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h2 class="titulo-secao">Outras Informações</h2>
            <div class="coluna">
                <div class="input_container">
                    <label for="usuario-cadastro">Usuário de Cadastro</label>
                    <input type="text" id="usuario-cadastro" value="Admin" disabled>
                </div>
                <div class="input_container">
                    <label for="usuario-alteracao">Usuário Alteração</label>
                    <input type="text" id="usuario-alteracao" value="Admin" disabled>
                </div>
            </div>
            <div class="coluna">
                <div class="input_container">
                    <label for="data-cadastro">Data de Cadastro</label>
                    <input type="text" id="data-cadastro" value="20/10/2024" disabled>
                </div>
                <div class="input_container">
                    <label for="data-alteracao">Data de Alteração</label>
                    <input type="text" id="data-alteracao" value="27/10/2024" disabled>
                </div>
            </div>
        </div>

        <div class="rodape">
            <button type="button" class="btn-reset pequeno">Cancelar</button>
            <button type="submit" class="btn-submit">Salvar Edição</button>
        </div>
    </div>
</body>
{% endblock content %}   