{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fleet Hub | Login</title>
    <link rel="stylesheet" href="{% static 'css/login-style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <form method="POST" action="">
        {% csrf_token %}
        <div id="tela-login">
            <div id="imglogin">
                <img id="img-login" src="{% static 'img/frotas 1.png' %}" alt="">
            </div>
            <div id="campo-login">
                <img id="logo-img" src="{% static 'img/logo_fleethub.png' %}" alt="">
                <h1 id="login-tittle">Faça seu Login:</h1>
                <div id="user-input">
                    <i class="fa-solid fa-user fa-2xl" style="color: #000000;"></i>
                    <input name="username" id="username" type="text" placeholder="Digite seu E-mail" required>
                </div>
                <div id="pass-input">
                    <i class="fa-solid fa-lock fa-2xl" style="color: #000000;"></i>
                    <input type="password" class="password-input" name="password" required id="id_password" placeholder="Digite sua Senha">
                    <button class="input-group-addon" type="button" role="button" id="view-password" title="Exibir a senha">
                        <span class="fa fa-eye fa-fw" aria-hidden="true"></span>
                    </button>
                </div>
                <button id="link-enter-button" type="submit">Entrar</button>
                <a id="reset-pass" href="{% url 'recuperar_senha' %}"><h3>Esqueceu a Senha?</h3></a>
                <a id="reset-pass" href="{% url 'cadastrar' %}"><h3>Cadastrar-se</h3></a>
    
            </div>
        </div>
    </form>
    
</body>
<script src="{% static 'js/login-script.js' %}"></script>
</html>