{% extends "base.html" %}
{% load static %}

{% block page_name %}visualizacao_rota{% endblock page_name %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block title %}Visualização da Rota{% endblock title %}

{% block estilos %}   
<link rel="stylesheet" href="{% static 'css/visualizacao_rota.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
{% endblock estilos %}

{% block content %}
<div id='container-block-content'>

    <section id="conteudo-secundario">
            <h2 id='page_title'>Visualização Rota</h2>
            <h2 id='page_title'>Id Rota: {{rota.id}}</h2>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container">

                    <div class="menu_esquerdo">
                        
                        <div class="input_container">
                            <label>Reserva</label>
                            <select class="input_detect" id="veiculo" name="veiculo">
                                <option selected>{{rota.reserva.id}}</option>
                            </select>
                        </div>
    
                        <div class="input_container">
                            <label>Data de Inicio da Rota</label>
                            <input class="input_detect" name="data_inicio" type="date" id="data_inicio" 
                            value="{{rota.data_inicio|date:'Y-m-d'}}">
                        </div>

                        <div class="input_container">
                            <label>Data de Fim da Rota</label>
                            <input class="input_detect" type="date" name="data_fim" id="data_fim"
                                value="{{rota.data_fim|date:'Y-m-d'}}">
                        </div>

                    </div>




                    <div class="menu_direito">

                        <div class="input_container">
                            <label>Tipo de Carga</label>
                            <select class="input_detect" id="tipo_carga" name="tipo_carga">
                                <option selected>{{rota.tipo_carga.descr_carga}}</option>
                                {% for tipos in tipo_carga %}
                                    <option value="{{tipos.descr_carga}}">{{tipos.descr_carga}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="input_container">
                            <label>Cidade Inicio da Rota</label>
                            <input class="input_detect" type="text" name="cidade_rota" id="cidade_rota"
                                value="{{rota.cidade_inicio}}">
                        </div>

                        <div class="input_container">
                            <label>Cidade Fim da Rota:</label>
                            <input class="input_detect" type="text" name="cidade_fim" id="cidade_fim" 
                            value="{{rota.cidade_fim}}">
                        </div>
                    
                    </div>
                </div>

                <div class="menu-inferior">

                    <div class="menu_esquerdo">
                        <h3 class="form-title">Outras Informações</h3>
                        <div class="input_container">
                            <label>Usuário de Cadastro</label>
                            <input type="text" id="usuario-cadastro" value="{{rota.usuario_cadastro}}" disabled>
                        </div>
                        <div class="input_container">
                            <label>Usuário Alteração</label>
                            <input type="text" id="usuario-alteracao" value="{{rota.usuario_alteracao}}" disabled>
                        </div>

                    </div>


                    <div class="menu_direito-2">
                        <h3 class="form-title"></h3>
                        <div class="input_container">
                            <label>Data de Cadastro</label>
                            <input type="text" id="data-cadastro" value="{{rota.data_cadastro}}" disabled>
                        </div>
                        <div class="input_container">
                            <label>Data de Alteração</label>
                            <input type="text" id="data-alteracao" value="{{rota.data_alteracao}}" disabled>
                        </div>
                    </div>

                </div>

                <div class="rodape" id="rodape">
                    <button type="reset" id="btn-reset" onclick="cancelar_alteracoes()" class="btn-reset">Cancelar</button>
                    <button type="submit" class="btn-submit">Salvar Edição</button>
                </div>

            </form>

    </section>

    
</div>
{% endblock content %}  

{% block scripts_extras %}
<script src="{% static 'js/visualizar-rota-script.js' %}"></script>
{% endblock  %}